*{
    margin: 0;
    padding: 0;
}
#header{
  display: flex;
}
#nav-bar{
    position: fixed;
    align-items: end;
}
@media only screen and (max-width: 600px) {
    #nav-bar {
      flex-direction: row;
    }
  }
